<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
            <mimeMap fileExtension=".ino" mimeType="text/plain"/>
            <mimeMap fileExtension=".pde" mimeType="text/plain"/>
        </staticContent>
    </system.webServer>
</configuration>
